/* 
General Div Layout 
*/
.parent-div {
    display: flex;
    /* position: relative; */

}
.child-div {
    /* flex: 1; */
   /* border: 2px solid red;  */
    border-radius: 10px; 
    
}  
.right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* flex: 0;  */
    min-width: 800px; /* Set a minimum width */
    max-width: 50%; /* Set a maximum width as a percentage */


    /* margin-left: 20px; */
}
.left-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* margin-left: 20px; */
}



/* 
INFO DIV
Search architectures
Filter by architecture
Show all architectures
Show controls check and label
Show top 5 check and label
*/
#searchBar{
    position: absolute;
    top: 15px;
    left: 500px;
    cursor: text;
}
/* #filter_button{
    position: absolute;
    top: 45px;
    left: 500px;
    cursor: pointer;
} */
#filter_motif_check{
    position: absolute;
    top: 45px;
    left: 500px;
    cursor: pointer;
}

#filter_motif_check_label{
    position: absolute;
    top: 45px;
    left: 530px;
    cursor: pointer;
}



#show_button{
    position: absolute;
    top: 70px;
    left: 500px;
    cursor: pointer;
}
#control_check{
    position: absolute;
    top: 100px;
    left: 500px;
    cursor: pointer;
}
#control_check_label{
    position: absolute;
    top: 100px;
    left: 530px;
    font-size: medium;
}
#top_check{
    position: absolute;
    top: 120px;
    left: 500px;
    cursor: pointer;
}
#top_check_label{
    position: absolute;
    top: 120px;
    left: 530px;
    font-size: medium;

}
#number_selector{
    position: absolute;
    top: 120px;
    left: 645px;
    width: 50px;
    cursor: text;
}

/* 
Number DNA/RNA barcodes slider
*/
.track {
    fill: none;
    stroke: #ccc; 
    stroke-width: 40px; 
}
.track-inset {
    fill: none;
    stroke: #ddd; 
    stroke-width: 8px; 
    /* border-radius: 10px;   */
}
.handle {
    fill: rgb(0, 0, 0); 
    cursor: grab;
}


.view_button{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size:16px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    cursor: pointer;
}
#treatment_view_button{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
}
#motif_view_button{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 300px;
    top: 10px;
}

#lab_link{
    position: absolute;
    left: 600px;
    top: 10px;
}

/* 
Copy buttons
*/
#copy-button{
    position: absolute;
    top: 160px;
    left: 500px;
    cursor: pointer;

}
#copy-button-top{
    position: absolute;
    top: 190px;
    left: 500px;
    cursor: pointer;
}
#copy-button-bottom{
    position: absolute;
    top: 190px;
    left: 615px;
    cursor: pointer;
}

/* 
Condition search bars
*/
#searchBarBase{
    position: absolute;
    top: 150px;
    left: 50px;
}
#search_bar_base_label{
    position: absolute;
    top: 135px;
    left: 50px;
    font-size: 12px;
    font-weight: bold;
}
#search_bar_stim_label{
    position: absolute;
    top: 75px;
    left: 50px;
    font-size: 12px;
    font-weight: bold;
}
#searchBarStim{
    position: absolute;
    top: 90px;
    left: 50px;
}



/* 
Information
*/
#info-div {
    background-color: rgba(226, 223, 223, 0.803);
}

#info-div {
    position: relative;
    /* border: 2px solid red; */

}

.info-tooltip {
    position: absolute;
    z-index: 1;
    background-color: rgb(84, 90, 107);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip {
    position: absolute;
    z-index: 1;
    background-color: rgb(84, 90, 107);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    min-width: 200px; /* Set a minimum width */
    max-width: 600px; /* Set a minimum width */

}


