
.parent-div {
    display: flex;
}

.child-div {
    flex: 1;
    /* /* border: 2px solid red; */
    border-radius: 10px;  
}  

.right-column {
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
}

#searchBar{
    position: absolute;
    top: 50px;
    left: 500px;
}

#filter_button{
    position: absolute;
    top: 75px;
    left: 500px;
}

#show_button{
    position: absolute;
    top: 100px;
    left: 500px;
}

#control_check{
    position: absolute;
    top: 180px;
    left: 450px;
}
#control_check_label{
    position: absolute;
    top: 180px;
    left: 480px;
}

#top_check{
    position: absolute;
    top: 200px;
    left: 450px;
}
#top_check_label{
    position: absolute;
    top: 200px;
    left: 480px;
}

#number_selector{
    position: absolute;
    top: 200px;
    left: 600px;
    width: 50px;
}
#copy-button{
    position: absolute;
    top: 185px;
    left: 25px;
}
#copy-button-top{
    position: absolute;
    top: 215px;
    left: 25px;
}
#copy-button-bottom{
    position: absolute;
    top: 215px;
    left: 135px;
}

#search_bar_base_label{
    position: absolute;
    top: 75px;
    left: 1510px;
}
#search_bar_stim_label{
    position: absolute;
    top: 75px;
    left: 1180px;
}


#searchBarBase{
    position: absolute;
    top: 100px;
    left: 1510px;
}
#searchBarStim{
    position: absolute;
    top: 100px;
    left: 1180px;
}




#info-div {
    background-color: rgba(226, 223, 223, 0.803);

}

#info-div {
    position: relative;
}

.info-tooltip {
    position: absolute;
    z-index: 1;
    background-color: rgb(84, 90, 107);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .tooltip {
    position: absolute;
    z-index: 1;
    background-color: rgb(84, 90, 107);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

 
